* {
  box-sizing: border-box;
}

body {
  height: 100%;
  /*background-image: url(media/background-placeholder.jpg);*/
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Open Sans;
  margin: 0;
  color: #6E6E6E;
}

h4.bold {
  font-weight: 800;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

label {
  font-size: 23px;
}

input {
  border: #efefef solid 3px;
}

strong {
  font-weight: 800;
}

h1, h2 {
  font-weight: 300;
}

/*HEADER*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 170px;
  margin: 0;
  background: #404041;
}

header div {

  /*border: black solid 5px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.subtitle::before {
  content: "";
  background: white;
  height: 2px;
  width: 120px;
  position: absolute;
  left: 0px;
  top: 50%;
}

.subtitle::after {
  content: "";
  background: white;
  height: 2px;
  width: 120px;
  position: absolute;
  right: 0px;
  top: 50%;
}

.title {
  font-size: 73px;
  margin: 0;
  padding: 0;
  color: #DD1972;
}

header div h2 {
  color: white;
  font-size: 25px;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}

/*COLUMNS*/
.column-container {
  display: flex;
}

.column {
  width: 50%;
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background: #D0D2D3;
}

input {
  font-size: 20px;
  padding-left: 3px;
}

/*LEFT COLUMN*/
.leftcolumn {
  background: #F7F7F7;
  border-right: #6e6e6e solid 3px;
}

.left-cards {
  box-sizing: border-box;
  width: 100%;
  border: #efefef solid 2px;
  margin-top: 15px;
  padding: 20px;
  padding-top: 15px;
  background: white;
}

article.set-range {
  min-height: 150px;
  margin: 0;  /*width: 100%;*/
}

article.info-input {

  /*height: 700px;*/
}

article.score {

  /*min-height: 10px;*/
}

article.score h5, article.score p, article.score h1 {
  margin: 0;
  font-size: 23px;
  text-align: center;
}

article.score h1 {
  font-weight: 800;
  font-size: 100px;
  margin: -25px;
  color: #DD1972;
}

article.min-range, article.max-range {

  /*border: solid black 5px;*/
  width: 35%;
  display: inline-block;
  margin-right: 20px;
}

label {
  display: block;
}

.chall1-name, .chall1-guess, .chall2-name, .chall2-guess {
  display: inline-block;  /*border: solid black 5px;*/
  height: 100px;
  width: 60%;
  margin-right: 20px;
}

.chall2-guess, .chall1-guess {
  width: 35%;
  margin-right: 0;
}

/*h4.extra-margin {
  margin-top: 25px;*/
/*}*/
.invisible {
  visibility: hidden;
  display: inline;
}

span.error {
  visibility: visible;
  color: #DD1972;
}

.guess1-spans,
.guess2-spans,
.name1-spans,
.name2-spans,
.chall1-name section,
.chall2-name section {
  position: relative;
}

.guess1-spans span,
.guess2-spans span,
.name1-spans span,
.name2-spans span,
#name1,
#name2 {
  position: absolute;
}

input {
  display: block;
  width: 100%;
  height: 45px;
}

button {
  background-color: #6E6E6E;  /*background: rgba(0, 0, 0, 0.2);*/
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  margin-top: 10px;
}

button:hover {
  background-color: #DD1972;
}

section.button-group {
  display: flex;
  justify-content: space-between;
}

p.current-range {
  font-size: 23px;
  margin-top: 0;
}

span.range-start, span.range-end {
  font-weight: 800;
  text-decoration: underline;
}

.chall1-score, .chall2-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;  /*border: solid black 3px;*/
}

.chall1-score {
  border-right: solid #efefef 3px;
}

.align-scores {
  display: flex;
  justify-content: space-between;
}

/*RIGHT COLUMN*/
.right-column {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.score-card {
  width: 95%;
  border: solid 2px grey;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

p strong {
  font-size: 22px;
}

hr {
  width: 90%;
}

section.score-card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.score-card-item {
  display: flex;
  font-size: 20px;
}

.score-card-item strong {
  margin-right: 5px;
}

.x-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  justify-content: center;
  padding: 0;
}

.card-winner {
  font-weight: 800;
  font-size: 40px;
  margin: 0;
}

.winner {
  font-weight: 300;
  font-size: 40px;
  margin: 0;
}

@media only screen and (min-width:326px) and (max-width:768px) {
  .header {
    letter-spacing: -1.5px;
    text-align: center;
  }

  .header h1 {
    font-size: 42px;
  }

  .header h2 {
    font-size: 16px;
  }

  .subtitle::before {
    width: 65px;
  }

  .subtitle::after {
    width: 65px;
  }

  .button-group {
    display: flex;
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .column-container {
    flex-wrap: wrap;
  }

  left-cards.score {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
